<div class="container p-3">
  <div class="row">

  <div class="col-md-8">
    <h3>検索結果"<%= @item.count %>"件</h3>

<table class='table table-hover table-inverse'>
    <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Introduction</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
       <% @item.each do |item| %>
        <td>
        <% if item.images.attached? %>
          <%= link_to(item) do %>
          <%= image_tag item.get_images[0], size:'50x50' %>
          <% end %>
        <% elsif %>
          <%= link_to(item) do %>
          <%= image_tag item.get_images, size:'50x50' %>
        <% end %>
        </td>
        <% end %>
        <td><%= link_to item.name,item %></td>
        <td><%= item.introduction %></td>
        <td><%= item.genre.name %></td>
        <td><%= item.created_at.strftime('%Y/%m/%d') %></td>
        <td id="favorite<%= item.id %>" >
        <%= render 'favorites/favorite', item: item %>
        </td>
        <td>コメント件数:<span id="comment_count"><%= item.comments.count %></span></td>
        <td><%= render "items/static_rate", item: item  %></td>
        <% end %>
      </tr>
  </tbody>
</table>
  </div>
</div>
</div>