<div class="container p-3">
  <h3>検索結果"<%= @item.count %>"件</h3>
  <div class="row">


       <% @item.each do |item| %>
        <div class="card shadow">
      <%= link_to item_path(item), class: "card-body text-dark text-center" do %>
      <img class="card-img-top">
       <% if item.rakuten_image.blank? %>
       <%= image_tag 'no_image.jpg', class: "border border-secondary", size: '130x130' %>
       <% else %>
        <%= image_tag item.rakuten_image, class: "border border-secondary" %>
       <% end %>
      </img>
        <p class="card-text"><%= item.rakuten_name.truncate(12, omission: '...')  %></p>
        <p class="card-text">ジャンル：<%= item.genre.name %></p>
      <% end %>
        <p class="text-center" id="favorite<%= item.id %>"><%= render 'favorites/favorite', item: item %></p>
      </div>
      <% end %>

</div>
</div>