<table class='table'>
     <thead>
      <tr>
       <th></th>
       <th>Title</th>
       <th>Opinion</th>
       <th>Tag</th>
       <th colspan="3"></th>
      </tr>
     </thead>

     <tbody>
      <% items.each do |item| %>
      <tr>
        <td><%= link_to(item.user) do %>
          <%= image_tag item.user.get_profile_image, size:'50x50' %>
          <% end %>
        </td>
        <td><%= link_to item.name,item %></td>
        <td><%= item.introduction %></td>


        <td id="favorite<%= item.id %>" >
        <%= render 'favorites/favorite', item: item %>
        </td>
        <td>コメント件数:<span id="comment_count"><%= item.comments.count %></span></td>
        <td><%= render "items/static_rate", item: item %></td>
      <% end %>
     </tbody>
    </table>