<div class="container mt-3">
  <div class="row">
   <h3 class="fas fa-heart col-md-9  text-secondary">いいね一覧</h3>
    <div class="edit shadow col-md-9">
      <table class="table table-striped">
        <tbody>
          <% @favorite_items.each do |item| %>
            <tr>
              <td>
                <% if item.rakuten_image.blank? %>
                  <%= image_tag 'no_image.jpg', class: "border border-secondary", size: '50x50' %>
                <% else %>
                  <%= image_tag item.rakuten_image, class: "border border-secondary", size: '50x50' %>
                <% end %>
              </td>
              <td><%= link_to item.name,item %></td>
              <td>ジャンル：<%= item.genre.name %></td>
              <td id="favorite<%= item.id %>" >
                <%= render 'favorites/favorite', item: item %>
              </td>
              <td>投稿日：<%= item.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
          <% end %>
          <%= paginate @favorite_items %>
         </tbody>
       </table>
    </div>
  </div>
</div>