<div class="container mt-3">
  <div class="row">
   <h3 class="fas fa-users  col-md-6  mx-auto text-secondary">フォロー</h3>
　  <div class="edit shadow col-md-6  mx-auto">

     <table class='table table-striped'>
      <tbody>
       <% @users.each do |user| %>
       <tr>
        <td>
         <%= link_to user_path(user) do %>
         <%= image_tag user.get_profile_image, class: "rounded-circle", size: '50x50' %>
         <% end %>
        </td>

        <td>
         <%= link_to user_path(user) do %>
         <%= user.name %>
         <% end %>
        </td>

        <td>
         <%= link_to follows_user_path(user) do %>
         <h6>フォロー<%= user.followers.count %></h6>
         <% end %>
        </td>

        <td>
         <%= link_to followers_user_path(user) do %>
         <h6>フォロワー<%= user.followeds.count %></h6>
         <% end %>
        </td>
       </tr>
       <% end %>
      </tbody>
　　 </table>

     </div>
   </div>
</div>