<div class="container mt-3">
  <div class="row">
   <h3 class="fas fa-users  col-md-8 text-secondary">ユーザー一覧</h3>
　  <div class="edit shadow col-md-8">
　    <table class="table table-striped">

       <tbody>
         <% @users.each do |user| %>
        <tr>
         <td><%= image_tag user.get_profile_image, class: "rounded-circle", size: '50x50' %></td>
         <td><%= user.name %></td>
         <td>フォロー<%= user.followers.count %></td>
         <td>フォロワー<%= user.followeds.count %></td>
         <td><%= link_to 'Show', user ,class: 'btn btn--orange btn--circle btn--circle-a btn--shadow'%></td>
        </tr>
        <% end %>
       </tbody>
       <%= paginate @users %>
      </table>
    </div>
  </div>
</div>