<div class="container mt-5">
  <div class="row">
　 <div class="edit shadow col-md-6  mx-auto">

     <table class="table">

      <tr>
       <td><%= image_tag @user.get_profile_image, size: '50x50' %></td>
      </tr>

      <tr>
       <td>氏名</td>
       <td><%= @user.name %></td>
      </tr>

      <tr>
       <td>一言</td>
       <td><%= @user.introduction %></td>
      </tr>

      <tr>
        <td>メールアドレス</td>
        <td><%= @user.email %></td>
      </tr>

      <tr>
       <td>フォロー</td>
       <td>
        <%= link_to follows_user_path(@user) do %>
        <%= @user.followers.count %>
        <% end %>
       </td>
      </tr>

      <tr>
       <td>フォロワー</td>
       <td>
        <%= link_to followers_user_path(@user) do %>
        <%= @user.followeds.count %>
        <% end %>
       </td>
      </tr>

      <tr>
       <td>会員ステータス</td>
       <td><% if @user.is_deleted == false %>
        有効
        <% else %>
        退会
        <% end %></td>
      </tr>
      <tr>
       <td><%= link_to "いいね一覧", favorites_user_path(@user)%></td>
      </tr>

     </table>
    <div class="text-center">
     <%= link_to "編集する", edit_user_path(@user), class: 'btn btn--orange btn--radius'%>
    </div>

   </div>
  </div>
</div>