<div class="container mx-auto">
<div class='row'>
     <div class="col-md-12" style="margin-right:auto; margin-left:auto;">
        <div class="slider mx-auto" style="width:550px;">
            <%= image_tag 'IMG_0995.JPG', style: "height: 300px;" %>
            <%= image_tag 'IMG_1119.JPG', style: "height: 300px;" %>
            <%= image_tag 'IMG_1221.JPG', style: "height: 300px;" %>
            <%= image_tag 'IMG_1529.JPG', style: "height: 300px;" %>
            <%= image_tag 'IMG_1279.JPG', style: "height: 300px;"%>
        </div>
     </div>
    <% if user_signed_in? %>
     <div class="row">
       <h3>新着情報</h3>
        <% @ramdom.each do |item| %>
          <div class="row media-card shadow">

  <div class="col-md-5 text-center">
   <% if item.rakuten_image.blank? %>
     <%= link_to item_path(item) do %>
     <%= image_tag 'no_image.jpg', class: "border border-secondary", size: '130x130' %></br>
     <% end %>
   <% else %>
     <%= link_to item_path(item) do %>
     <%= image_tag item.rakuten_image, class: "border border-secondary", size: '130x130' %></br>
     <% end %>
   <% end %>
   <p>&emsp;<%= link_to "商品を見る→",item_path(item), class: "text-dark" %></p>
 </div>

 <div class="col-md-7">
    <div class="line">商品名：<%= item.name%></div>
    <div class="line">投稿日時：<%= item.created_at.strftime('%Y/%m/%d') %></div>
    <div class="line">投稿者：<%= link_to item.user.name, item.user, class: "text-dark"%></div>
    <div class="line" id="favorite<%= item.id %>"><%= render 'favorites/favorite', item: item %></div>
</div>

</div>
        <% end %>

          <div class ="text-right">
            <%= link_to 'すべての商品を見る > ', items_path %>
          </div>

      </div>
      <% elsif %>
      <div class="col-md-12 mt-3">
      <div><%= link_to "ゲストログイン", guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %></div>
      <div><%= link_to "サインイン", new_user_registration_path,class: "btn btn-success btn-sm btn-block mb-3" %></div>
      <div><%= link_to "ログイン", new_user_session_path ,class: "btn btn-info btn-sm btn-block mb-3" %></div>
      </div>
      <% end %>
    </div>
    </div>


