<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
  <h2>Users search for "<%= @word %>"</h2>
    <div class="container mt-3">

   <h3 class="fas fa-users text-secondary">フォロワー一覧</h3>



<% @user.each do |user| %>
    <div class= "row user-group shadow ">
     <div class="col-md-2 text-center">
     <%= image_tag user.get_profile_image, class: "rounded-circle",size:"50x50"  %></br>
     <%= user.name %>
     </div>
     <div class="col-md-2 text-center">
       <span class="badge badge-primary">フォロー</span>
       <p><%= user.followers.count %></p>
     </div>
     <div class="col-md-2 text-center">
       <span class="badge badge-info">フォロワー</span>
       <p><%= user.followeds.count %></p>
     </div>
     <div class="col-md-2 text-center">
       <%= link_to 'Show', user ,class: 'btn btn--orange btn--circle btn--circle-a btn--shadow'%>
     </div>

     <div class="sample col-md-3 text-center">
        <% if current_user != user %>
        <% if current_user.following?(user) %>
      <%= link_to "フォローを外す", user_relationships_path(user.id), method: :delete, class: "btn btn-outline-info btn--radius" %>
        <% else %>
       <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-info btn--radius" %>
        <% end %>
        <% end %>
    </div>
    </div>
     <% end %>

     <%= paginate @user %>

</div>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>opinion</th>

      </tr>
    <tbody>
    <h2>Items search for "<%= @word %>"</h2>
    <% @items.each do |item| %>
      <tr>
        <td>
          <%= link_to user_path(item.user) do %>
            <%= image_tag item.user.get_profile_image, class: "rounded-circle", size: '50x50' %>
          <% end %>
        </td>
        <td><%= link_to item.name , item_path(item.id) %></td>
        <td><%= item.introduction %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>