<div class='container'>

  <ul class="nav nav-tabs">
   <li class="nav-item">
    <%= link_to '新しい順', items_path(latest: "true"), class: "nav-link list text-dark"%>
   </li>
   <li class="nav-item">
    <%= link_to '古い順', items_path(old: "true"), class: "nav-link list text-dark" %>
   </li>
   <li class="nav-item">
    <%= link_to 'いいねの多い順', items_path(favorites_count: "true"), class: "nav-link list text-dark" %>
   </li>
   <li class="nav-item">
     <%= link_to '評価の高い順', items_path(star_count: "true"), class: "nav-link list text-dark" %>
   </li>
  </ul>

  <div class="row">

    <% @item.each do |item| %>
     <div class="card shadow">
      <%= link_to item_path(item), class: "card-body text-dark text-center" do %>
      <img class="card-img-top">
       <% if item.rakuten_image.blank? %>
       <%= image_tag 'no_image.jpg', class: "border border-secondary", size: '130x130' %>
       <% else %>
        <%= image_tag item.rakuten_image, class: "border border-secondary" %>
       <% end %>
      </img>
        <p><%= item.name.truncate(12, omission: '...')  %></p>
        <p>ジャンル：<%= item.genre.name %></p>
      <% end %>
        <p class="text-center" id="favorite<%= item.id %>"><%= render 'favorites/favorite', item: item %></p>
        <p class="text-right"><%= item.created_at.strftime('%Y/%m/%d') %></p>
      </div>
    <% end %>

  </div>
</div>