<div class='container'>
<div><%= render "searches/genre" %></div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to '新しい順', items_path(latest: "true"), class: "nav-link list text-dark"%>
  </li>
  <li class="nav-item">
    <%= link_to '古い順', items_path(old: "true"), class: "nav-link list text-dark" %>
  </li>
  <li class="nav-item">
    <%= link_to 'いいねの多い順', items_path(favorites_count: "true"), class: "nav-link list text-dark" %>
  </li>
   <li class="nav-item">
     <%= link_to '評価の高い順', items_path(star_count: "true"), class: "nav-link list text-dark" %>
   </li>
</ul>

<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Introduction</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item.each do |item| %>
      <tr>
        <td>
        <% if item.images.attached? %>
          <%= link_to(item) do %>
          <%= image_tag item.get_images[0], size:'50x50' %>
          <% end %>
        <% elsif %>
          <%= link_to(item) do %>
          <%= image_tag item.get_images, size:'50x50' %>
         <% end %>
        <% end %>
        </td>
        <td><%= link_to item.name,item %></td>
        <td><%= item.introduction %></td>
        <td><%= item.genre.name %></td>
        <td><%= item.created_at.strftime('%Y/%m/%d') %></td>

        <td id="favorite<%= item.id %>" >
        <%= render 'favorites/favorite', item: item %>
        </td>
        <td>コメント件数:<span id="comment_count"><%= item.comments.count %></span></td>
        <td><%= render "static_rate", item: item  %></td>
      <% end %>
      </tr>
  </tbody>
</table>
</div>