<div class='container edit col-md-11 mt-5'>
 <div class="row">
 <div class='col-md-6'>
  <h5><%= @item.rakuten_name %></h5>
 </div>
 <% if user_signed_in? %>
  <% if current_user == @user || current_user.admin? %>
<div class='text-center col-md-6'>
<%= link_to "編集", edit_item_path, class: 'btn btn--orange' %></br>
<%= link_to '削除', @item, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-outline-danger"%>
</div>
<% end %>
<% end %>
 <div class="media col-md-12 mt-3">
  <img class="rounded-lg">
   <% unless @item.rakuten_image.blank? %>
  <%= image_tag @item.rakuten_image %>
 <% end %>
 </img>

 <div class="media-body">
    <p class= "border-bottom">投稿日時：<%= @item.created_at.strftime('%Y/%m/%d') %></p>
    <p class= "border-bottom">URL：<%= link_to @item.rakuten_url, @item.rakuten_url %></p>
    <p class= "border-bottom">ジャンル：<%= @item.genre.name %></p>
    <p class="border-bottom" id="favorite<%= @item.id %>"><%= render 'favorites/favorite', item: @item %></p>
    <p><%= render "static_rate", item: @item %></p>
</div>
</div>
 <div class='col-md-12 item'>
  <h5>商品説明</h>
  <p><%= @item.introduction %></p>
 </div>

   <% if @item.images.attached? %>
  <div class='col-md-12 item'>
  <div class="slider mx-auto" style="width:480px;">
    <% @item.images.each do |image| %>
    <%= image_tag image.variant(resize:'480x300').processed ,style: "height: 300px;"%>
     <% end %>
  </div>
  </div>

   <% end %>



  <% if @item.video.attached? %>
 <div class='col-md-12 item text-center'>
 <video src="<%= rails_blob_path(@item.video) %>" type="video/mp4" controls width="480" height="300"></video>
 </div>
 <% end %>

<div class='col-md-12 item'>
 <div id="comments">
  <%= render 'comments/show', item: @item, comments: @comment %>
 </div>
</div>

<div class='col-md-12 item'>
 <div id="comment-form">
 <%= render 'comments/form', item: @item, comments: @comment %>
 </div>
</div>
</div>
</div>