<div class='container'>
 <h1>商品詳細</h1>
 <div class="row">
<div class='col-md-12'>
<table class="table">
 <% unless @item.rakuten_image.blank? %>
  <%= image_tag @item.rakuten_image %>
 <% end %>
  <tr>
  <td>商品名</td>
  <td><%= @item.name %></td>
  </tr>
  <tr>
  <td>商品説明</td>
  <td><%= @item.introduction %></td>
  </tr>
  <tr>
  <td><%= @item.rakuten_name %></td>
  <td><%= @item.rakuten_url %></td>
  </tr>
  <tr>
  <td><%= render "static_rate", item: @item %></td>
  </tr>
  <tr>
  <td><%= @item.created_at.strftime('%Y/%m/%d') %></td>
  </tr>
  <tr>
  <td>
   <% if @item.images.attached? %>
    <% @item.images.each do |image| %>
     <%= image_tag image.variant(resize: '500x500') %>
     <% end %>
   <% end %>
  </td>
  </tr>
  <tr>
  <% if @item.video.attached? %>
  <td><video src="<%= rails_blob_path(@item.video) %>" type="video/mp4" controls></video></td>
  <% end %>
  </tr>
<tr>
 <td id="comments">
  <%= render 'comments/show', item: @item, comments: @comment %>
 </td>
</tr>
<tr>
 <td id="comment-form">
 <%= render 'comments/form', item: @item, comments: @comment %>
 </td>
</tr>
</table>
</div>
</div>
<% if user_signed_in? %>
  <% if current_user == @user || current_user.admin? %>
<div class='text-center'>
<%= link_to "編集する", edit_item_path, class: 'btn btn-success' %>
<%= link_to '削除', @item, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
</div>
<% end %>
<% end %>
</div>