<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #FFAD90" >
    <div class="container">
      <a class="navbar-brand" href="/"><span>Cappy</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <%= render 'searches/search' %>
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
        　<li>
           <%= link_to notifications_path, class: 'nav-link text-light' do %>
             <% if current_user.notifications.where(checked: false).exists? %>
             <i class="fa-sharp fa-solid fa-bell fa-beat text-danger"></i>
             <% else %>
             <i class="fa-sharp fa-solid fa-bell"></i>
             <% end %>
             通知一覧
           <% end %>
          </li>
          <li>
            <%= link_to users_mypage_path(current_user),class: 'nav-link text-light' do %>
              <i class="fas fa-home"></i> Mypage
            <% end %>
          </li>
          <li>
            <%= link_to users_path,class: 'nav-link text-light' do %>
              <i class="fas fa-users"></i> Users
            <% end %>
          </li>
          <li>
            <%=  link_to items_path ,class: 'nav-link text-light' do %>
              <i class="fas fa-cat"></i> 投稿一覧
            <% end %>
          </li>
          <li>
            <%=  link_to items_search_path ,class: 'nav-link text-light' do %>
              <i class="fas fa-book-open"></i> 新規投稿
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-light' do %>
              <i class="fas fa-sign-out-alt"></i> Log out
            <% end %>
          </li>
          <% else %>
          <li>
            <%= link_to root_path,class: 'nav-link text-light' do %>
              <i class="fas fa-home"></i> Home
            <% end %>
          </li>
          <li>
            <%= link_to about_path,class: 'nav-link text-light' do %>
              <i class="fas fa-link"></i> About
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path,class: 'nav-link text-light' do %>
              <i class="fas fa-user-plus"></i> Sign up
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path ,class: 'nav-link text-light' do %>
              <i class="fas fa-sign-in-alt"></i> Log in
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>