<!DOCTYPE html>
<html>
  <head>
    <title>Cappy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://kit.fontawesome.com/d1642612f4.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>

      <div class="row">
        <% if user_signed_in? %>
          <div class="col-md-2 offset-1 mt-4">
            <%= render 'layouts/sidebar' %>
          </div>
          <div class="col-md-8 mx-auto">
            <%= yield %>
          </div>
        <% else %>
          <div class="col-md-8 mx-auto">
            <%= yield %>
          </div>
        <% end %>
      </div>

    <%= render 'layouts/footer' %>
  </body>
</html>

<script>
$(function() {
  $('.sliders').slick({
    prevArrow: '<button class="slide-arrow prev-arrow"></button>',
    nextArrow: '<button class="slide-arrow next-arrow"></button>'
  });
});

$(document).on('turbolinks:load',function() {
  $('.slider').slick({
      arrows: false,  //ボタン非表示
      autoplay: true, //自動再生
      autoplaySpeed: 3000, //再生スピード
  });
});
</script>
